* {
    font-family: "Fira sans", sans-serif;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
  }
  body {
    flex-direction: column;
    color: #fff;
    background-color: rgb(38, 99, 129);
    display: flex;
  }
  .accountingTable {
    justify-content: space-between;
    table-layout: fixed;
    text-align: left;
    margin: auto;
    padding: 20px;
  }
  header {
    background-color: rgb(55, 42, 42);
    border-bottom: rgb(255, 255, 255);
    display: flex;
    padding: 1.5rem 7%;
    justify-content: space-between;
    align-items: center;
  }
  footer {
  
    background-color: rgb(55, 42, 42);
    font-size: 15px;
    font-weight: 300;
    display: flex;
    padding: 1.5rem 7% ;
    justify-content: center;
    height: auto;
  
  }